@import 'primeflex/primeflex.scss';

.p-dialog-header  {
    padding: 0 !important;
    background: #f0f0f0 !important;
}
.p-dialog-content {
    padding: 0 !important;
}

#audate-popup {
    width: 300px;
    background: #f0f0f0;
}