<label>Language</label>
<p-dropdown
      [options]="locales"
      (ngModelChange)="setLocale($event)"
      [ngModel]="currentLocale"
      optionLabel="name"
    ></p-dropdown>

<label>Microphone</label>
<p-dropdown
      [options]="locales"
      (ngModelChange)="setLocale($event)"
      [ngModel]="currentLocale"
      optionLabel="name"
    ></p-dropdown>
<a>See how to update microphone</a>

<label>Search Engine</label>
<p-dropdown
      [options]="locales"
      (ngModelChange)="setLocale($event)"
      [ngModel]="currentLocale"
      optionLabel="name"
    ></p-dropdown>

<label>Automatically open search page</label>

<label>Disable Extension</label>

<button>More Help & Settings</button>