<section>
    <p *ngIf="errorMessage | async as errorMessage" class="notification">{{errorMessage}}</p>
  </section>
  <section>
    <button *ngIf="listening | async; else mic" (click)="stop()">
      <span class="soundwave">stop</span>
    </button>
    <ng-template #mic>
      <button (click)="start()">
        <span>start</span>
      </button>
    </ng-template>
  </section>
  <section>
      <p>Select your language</p>
      <select [ngModel]="currentLocale" (ngModelChange)="selectLanguage($event)">
        <option *ngFor="let language of locales" [value]="language" >
          {{language.name}}
        </option>
      </select>
  </section>
<section *ngIf="transcript | async">
  <p class="notification">{{transcript | async}}</p>
</section>
<section>
    <textarea  [value]="totalTranscript || ''" placeholder="Speech Input Result" rows="15" disabled="true"></textarea>
</section>
