<section>
    <p *ngIf="errorMessage" class="notification">{{errorMessage}}</p>
  </section>
  <section>
    <button  (click)="micTap()">  
      <span *ngIf="listening === true" >Stop</span>
      <span *ngIf="listening === false" >Start</span>
    </button>    
  </section>
  <section>
      <p>Select your language</p>
      <select [ngModel]="currentLocale" (ngModelChange)="selectLanguage($event)">
        <option *ngFor="let language of locales" [value]="language" >
          {{language.name}}
        </option>
      </select>
  </section>
<section *ngIf="transcript">
  <p class="notification">{{transcript}}</p>
</section>
<section>
    <textarea  [value]="totalTranscript || ''" placeholder="Speech Input Result" rows="15" disabled="true"></textarea>
</section>
