  <section>
    <button pButton type="button" class="p-button-link" class="p-button-raised p-button-rounded" (click)="micTap()">  
      <span *ngIf="listening === true" >Stop</span>
      <span *ngIf="listening === false" >Start</span>
    </button>    
  </section>
  <section>
      <p>Select your language</p>
      <select [ngModel]="currentLocale" (ngModelChange)="selectLanguage($event)">
        <option *ngFor="let language of locales" [value]="language" >
          {{language.name}}
        </option>
      </select>
  </section>

